In [1]:
n = input("Enter value of n: ")
try:
    n = int(n)
    total_sum = 0
    # sum of n numbers in python using for loop
    for i in range(1, n+1):
        total_sum = total_sum + i
    print("Total sum is: ", total_sum)
except:
    print("Please enter a natural number")

Enter value of n: 5
Total sum is:  15

In [2]:
def changeme(mylist):
  print(mylist)
  mylist.append("data is changed")
  print(mylist,"new data after append")
  return
a=[1,2,3,4,5]
changeme(a)
changeme(mylist=[20,30,40,50])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'data is changed'] new data after append
[20, 30, 40, 50]
[20, 30, 40, 50, 'data is changed'] new data after append

In [6]:
#Find the maximum of three numbers
List1=[135,234,214,134,234,453]
print("Maximum of list1:",max(List1))
print("minimum of list1:",min(List1))

Maximum of list1: 453
minimum of list1: 134

In [11]:
#Find the sum all the numbers in a list
List1=[134,213,142,244,432]
print("sum of all te numbers:",sum(List1))

sum of all te numbers: 1165

In [14]:
#Multiply all the numbers in the list
List1=[122,131,32,34,]
a=122
b=131
c=32
d=34
print("multiplication af all the numbers:",(a*b*c*d))

multiplication af all the numbers: 17388416

In [17]:
#Reverse a string
string1="1234abcd"
reversed_string=string1[::-1]
print("after string reverse:",reversed_string)

after string reverse: dcba4321

In [25]:
#Calculate the factorial of a number(a non negative integer)
def factorial(n):
  if n < 0:
    return
  elif n==0 or n==1:
    return 1
  else:
    fact=1
    while(n>1):
      fact*=n
      n-=1
    return fact
num=(7)
print("factorial of",num,"is",factorial(num))

factorial of 7 is 5040

In [28]:
#Check whether a number is in given range
def range_of_number(n):
  if n>=10 and n<=99:
    print(n,"the number is the range")
  else:
    print(n,"the number is not in range")
test = int(input("enter a number"))
range_of_number(test)

enter a number75
75 the number is the range

In [45]:
# Accept a string and calculate the number of upper case and lower case letters
def string_var(s):
  d={"upper_case":0,"lower_case":0}
  for c in s:
    if c.isupper():
      d["upper_case"]+=1
    elif c.islower():
        d["lower_case"]+=1
    else:
        pass
  print("original string:",s)
  print("no of upper case:",d["upper_case"])
  print("no of lower case:",d["lower_case"])
string_var("The Quick Brown Fox")

original string: The Quick Brown Fox
no of upper case: 4
no of lower case: 12

In [47]:
import math
content=dir(math)
print(content)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [48]:
#Take a list and return a new list with unique elements of the first list
new_list=[14,25,87,14,25,25]
new_val=set(new_list)
z=list(new_val)
print("Unique values:",z)

Unique values: [25, 14, 87]

In [50]:
#Check anumber as parameter and check whether the number is prime or not
n=int(input("Enter number:"))
k=0
for i in range(2,n//2+1):
  if(n%i==0):
    k=k+1
if (k<=0):
  print("number is prime")
else:
  print("number is not prime")

Enter number:5
number is prime

In [55]:
#Print the even numbers from a given list
def is_even_num(l):
  enum=[]
  for n in l:
    if n%2==0:
      enum.append(n)
  return enum
print(is_even_num([1,2,3,4,5,6,7,8,9]))

[2, 4, 6, 8]